@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: url('../src/assets/laura.png');
  height: 317px;
  width: 317px;
  position: absolute;
  border-radius: 10px 10px 0 0;
}