body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #imageContainer {
    display: flex;
  }
  
  .circularImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .circularImage:hover {
    transform: scale(1.1);
  }
  