@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

a:hover,
a:focus {
    text-decoration: underline;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    line-height: 2;
}

.logo {
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
