h1 {
    text-align: center;
    margin-top: 15vh;
}

.pricing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: blueviolet;
    width: fit-content;
    margin: auto;
    padding: 25px 50px;
    color: floralwhite;
}

ul {
    list-style-type: none;
    line-height: 1.6;
    padding-left: 0;
}

li {
    font-weight: 200;
    font-size: 1.5em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

button {
    padding: 15px 25px;
    cursor: pointer;
}