* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

main {
    background-color: orange;
    color: #fff;
}

header {
    background-color: rebeccapurple;
    color: #fff;
}

header, main {
    padding: 15px 0;
    font-size: 18px;
}

h1,h2 {
    text-align: center;
}

h2 {
    margin-top: 15px;
    color: orangered;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2px;
}

p {
    width: 90%;
    margin: 15px auto 15px auto;
}

header, main {
    max-width: 550px;
    margin: auto;
}

input, button {
    display: block;
    width: 90%;
    margin: 0 auto 15px auto;
}

label {
    margin-left: 28px;
    color: orangered;
}

button {
    margin-top: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}