* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

main {
    max-width: 550px;
    line-height: 1.6;
    background-color:aliceblue;
    height: 65vh;
    margin: 15vh auto;
    padding: 25px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,h2 {
    text-align: center;
    color: rebeccapurple;
}

h2 {
    letter-spacing: 1.5px;
    font-size: 32px;
}

p {
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
    font-size: 18px;
}

input, button {
    display: block;
}

form {
    margin-top: 20px;
}

input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="email"]:hover,
input[type="email"]:focus,
select:hover,
select:focus {
    border: 2px solid rebeccapurple;
}

button {
    width: 100%;
    padding: 12px;
    background-color: rebeccapurple; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px auto 15px auto;
    letter-spacing: 1px;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover,
button:focus {
    background-color: rgb(117, 75, 159); /* Darker purple on hover/focus */
}