* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 550px;
    margin: auto;
    line-height: 1.6;
}

h1,h2 {
    text-align: center;
}

input, button {
    display: block;
}