* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-width: 900px;
    line-height: 1.5;
    color: #333333;
}

ul {
    list-style-type: none;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 5px;
}

nav ul {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    font-size: 32px;
}

.nav-link {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

/* Hero section */

.hero-section {
    width: 800px;
    margin: 120px auto 200px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    max-width: 350px;
}