* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #ff4180;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 40px;
}

main {
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ff4180;
    border-radius: 5px;
    padding: 25px;
    margin-top: 25px;
    height: 225px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: .5px solid #d3ccce;
    transition: border-color 0.3s;
}

input:hover,
input:focus {
    border: 2px solid #ff4180;
}

label {
    margin-bottom: 5px;
    font-weight: 800;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

button[type="submit"] {
    padding: 10px;
}

.button-div {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.button-div button {
    padding: 10px;
}

.draw, button[type="submit"] {
    background-color: #ff4180;
}

button[type="submit"]:hover, .draw:hover,
button[type="submit"]:focus, .draw:focus {
    background-color: #ff6497;
}

.reset {
    background-color: rgb(28, 94, 225);
}

.reset:hover,
.reset:focus {
    background-color: rgb(59, 116, 228);
}

/* Add fixed styles for input and buttons */
input,
button[type="submit"],
.button-div button {
    width: 100%;
    box-sizing: border-box;
}