* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

header {
    background-color: rgb(237, 129, 51);
    color: floralwhite;
    padding: 25px;
    text-align: center;
}

h2 {
    font-weight: 800;
    letter-spacing: 1.5px;
    font-size: 32px;
    color: rebeccapurple;
}

h1, h3 {
    margin-bottom: 15px;
}

h3 {
    margin-top: 15px;
    font-size: 24px;
}

h3, label {
    color: orangered;
}

label {
    font-weight: bold;
}

main {
    max-width: 550px;
    margin: 15px auto 0 auto;
    background-color: rebeccapurple;
    border-radius: 5px;
    padding: 5px 20px 15px 20px;
    color: #fff;
    font-size: 18px;
}

input,
select,
button {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: rebeccapurple;
    transition: background-color 0.3s, color 0.3s;
}

input::placeholder {
    color: rgb(151, 133, 171);
    font-size: 16px;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rebeccapurple;
    margin-top: 5px;
}

/* New styling for hover and focus */
button:hover,
input:focus,
button:focus {
    background-color: orangered;
    color: white;
}

input:hover,
input:focus,
select:hover,
select:focus {
    border: 2px solid orangered;
}

/* Remove fixed position for input elements and button */
input,
select,
button {
    position: relative;
    top: 0;
    z-index: 2;
}
