* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    background: #1F2937;
    height: 550px;
    padding: 3%;
}

h1 {
    width: 354px;
    color: #fff;
    line-height: 40px;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    height: 80px;
}

span {
    color: #4ADF86;
}

p {
    width: 372px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #D5D4D8;
    margin-top: 5px;
}

button {
    display: inline-flex;
    padding: 9px 17px 9px 15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    background: #10B981;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 25px;
    width: 100%;
}


.password-generate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-display {
    margin: 50px 0; /* Pushes the password-display section to the bottom */
}

input[type="range"] {
    width: 100%;
    margin-top: 25px;
}

label, input[type="checkbox"] {
    color: #D5D4D8;
}

input[type="text"] {
    width: 180px;
    height: 32px;
}