body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.drum-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 5px;
    transition: background-color 0.3s;
}

.drum-button:hover,
.drum-button:focus {
    background-color: #0056b3;
}