/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #2b283a;
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: 36px;
    color: whitesmoke;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    color: #d0aaff;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Colors */
h2,
p,
section,
.footer p,
.section-two h2,
.section-two p {
    color: #2b283a;
}

header {
    background-color: #5f29a3;
    padding: 45px 0px;
}

.footer {
    text-align: center;
    padding: 45px 0;
    color: #5f29a3;
}

/* Links */
a {
    color: #ef5839;
    text-decoration: none;
}

a:hover,
a:active {
    color: #d4b44c;
}

/* Containers */
.container {
    max-width: 620px;
    margin: auto;
}

/* Sections */
section {
    padding: 45px 0px;
}

.section-two,
.section-one {
    width: 100%;
    padding: 25px;
}

.section-two {
    color: whitesmoke;
    background-color: #5f29a3;
}

.section-two h2 {
    text-align: center;
}

/* Images */
.image-container {
    display: flex;
    justify-content: space-around;
}

.image-container img {
    width: 270px;
    border-radius: 4.6px;
}

.section-one img {
    margin-bottom: 15px;
}
