* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

main {
    width: 550px;
    height: 729px;
    line-height: 1.6;
    letter-spacing: 1px;
    background: #F4F4F4;
    border-radius: 3px;
}

header {
    background: #6943FF;
    padding: 25px;
    border-radius: 3px;
    height: 285px;
    margin-bottom: 25px;
}

header div {
    margin: 5px auto 0 auto;
}

h3 {
    width: 448.4px;
    height: 38px;
    margin: auto;
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 135.714% */
    margin-bottom: 15px;
}

h1 {
    width: 117px;
    height: 83px;
    margin: 25px auto;
    color: #FFF;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 24.393px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #3D3D3D;
    padding: 9px 27.5px;
/* text-base/leading-6/font-medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFF;
}

button:hover,
button:focus {
    background-color: aliceblue;
}

/* Section */

section {
    width: 500px;
    height: 108.573px;
    margin-top: 15px;
    border-radius: 4.681px 0px 0px 0px;
    background-color: #FFF;
    margin: 15px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A537B;
}