html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border: 3px darkorange solid;
    width: 30%;
    height: 300px;
    margin: 200px auto;
    border-radius: 15px;
}

input,
button {
    outline: none;
    padding: 10px 35px;
    cursor: pointer;
    width: 50%;
    letter-spacing: 1px;
    border: none;
}

input::placeholder {
    text-align: center;
    letter-spacing: 1px;
}

input {
    margin-bottom: 25px;
    box-sizing: border-box;
    background-color: aliceblue;
}

input:hover,
input:focus {
    background-color: rgb(245, 229, 199);
    color: black;
}

button {
    background-color: darkorange;
    color: whitesmoke;
}

button:hover,
button:focus {
    background-color: orangered;
}

/* Para */
p {
    margin-top: 10px;
    margin-bottom: 0;
}