* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
}

input {
  color: #432000;
  background-color: #dce1eb;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
}

div {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 100px auto 0 auto;
  border: solid rgb(58, 57, 57) 4px;
  border-radius: 15px;
}

input,
button {
  outline: none;
  border: 0;
  padding: 10px 45px;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  border-radius: 8px;
}

input {
  color: #432000;
}

button {
  color: #fdfdfd;
}
