/* Header styles */
header {
    background-color: #ff4081;
    /* Vibrant header background color */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: orange;
    font-size: 1.75em;
}

/* Entry form styles */
.entry-form label,
.entry-form input,
.entry-form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

/* input */
input[type="text"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 25px;
    outline: none;
    border: .1px solid rgb(234, 230, 230);
    margin-bottom: 15px;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border: #c60055 2px solid;
}

input::placeholder {
    font-size: 1.5em;
    text-align: center;
}

.entry-form button {
    background-color: #ff4081;
    /* Vibrant button background color */
    color: #fff;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
}

.entry-form button:hover {
    background-color: #ff80ab;
    /* Lighter shade on hover */
}

.entry-form button:active {
    background-color: #c60055;
    /* Darker shade on click */
}

/* Participants list styles */
.participants ul {
    list-style-type: none;
    padding: 0;
}

/* Winner display styles */
.winner {
    margin-top: 20px;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: space-between;
}

/* Draw button styles */
#draw-button {
    background-color: #ff4081;
    /* Vibrant button background color */
    color: #fff;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    width: 45%;
}

#reset-button {
    background-color: orangered;
    color: #fff;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    margin-left: 50%;
    margin: 0;
    width: 45%;
}

#reset-button:hover,
#reset-button:focus {
    background-color: rgb(251, 110, 59);
}

#draw-button:hover,
#draw-button:focus {
    background-color: #ff80ab;
    /* Lighter shade on hover */
}

#draw-button:active {
    background-color: #c60055;
    /* Darker shade on click */
}

label {
    color: #c60055;
    font-size: 1.25em;
}