* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    line-height: 1.6;
}

label, input {
    margin-top: 25px;
}

label {
    padding-right: 15px;
    display: block;
}

input {
    padding: 5px 25px;
    width: 300px;
}

button {
    display: block;
    margin: 25px auto 0 auto;
    padding: 10px 25px;
    cursor: pointer;
}

