body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    padding: 9px 25px;
    outline: none;
    border: .5px solid #bebbbb;
    display: block;
    width: 30%;
    margin-bottom: 15px;
}

button, input {
    border-radius: 3px;
}

input:hover,
input:focus {
    border: 2px solid #5f9341;
}

button {
    background-color: #5f9341;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    padding: 10px 25px;
    letter-spacing: 1px;
}

button:hover,
button:focus {
    background-color: #709859;
}