* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 238, 237);
    margin-top: 18vh;
}
main {
    background-color: #fff;
    max-width: 525px;
    margin: auto;
    border-radius: 15px;
    height: 520px;
    padding: 10px 0 15px 0;
}

h1 {
    text-align: center;
    color: blueviolet;
    font-weight: 800;
    margin: 15px auto;
}

p {
    width: 90%;
    margin: 0 auto 25px auto;
    line-height: 1.6;
}

span {
    display: block;
}

img {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 25px auto;
    border: 4px solid blueviolet;
}

input, button {
    display: block;
    margin: 0 auto 25px;
    width: 85%;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;
}

input:hover, input:focus, button:hover, button:focus {
    /* Add styles for hover and focus states here */
    border: 2px solid blueviolet;
}
