body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    outline: none;
    padding: 10px 0;
    width: 50%;
    border: 1px solid green;
}

input:hover {
    background: rgb(244, 245, 242);
}

input:focus {
    border-color: #5f9341; /* Add a green border when the input is focused */
    box-shadow: 0 0 5px rgba(95, 147, 65, 0.5); /* Add a subtle shadow when focused */
    background: white; /* You can customize the background color when focused */
    padding-left: 5px;
    font-weight: bold;
}

button {
    background: seagreen;
    color: floralwhite;
    outline: none;
    border: none;
    display: block;
    padding: 15px 25px;
    margin-top: 15px;
    letter-spacing: 1px;
}

button:hover {
    cursor: pointer;
    background: olivedrab;
}

button:focus {
    outline: none;
}